    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About T-PIE</h4>
                            <p>
We, here at T-Pie, are devoted to give the best that a piece of clothing should exhibit. These are not just fabrics but a reflection of ones character to the eyes of observer. The material of cloth, the designs, the prints make you stand out of the queue.

T-Pie tries effortlessly to do the same with the sense of understanding and being more respomsive and easily accessible to the customers.All this with the cheapest price with the advantage of being in the locality.
So what are you waiting for?
Place your first orders here!

                                </p>
                            <ul>
                                <li><a href="https://www.facebook.com/tpie.pie"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://tpie.club"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/_t_pie_/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://wa.me/917014759453?text=I'm%20interested%20in%20buying"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./service.html">Customer Service</a></li>
                                <li><a href="./terms.html">Terms &amp; Conditions</a></li>
                                <li><a href="./privacy.html">Privacy Policy</a></li>
                                <li><a href="./location.html">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
								<li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address:<a href="location">A-302 HBU nagar main Pushkar road Ajmer</a> 
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel://8302262883">8302262883</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:tpie170324@gmail.com">tpie170324@gmail.com</a></p>
                                </li>
                                <li>
									<h3><br>Hit Counter<br></h3>
									<a href="https://www.freecounterstat.com" title="web page counter"><img src="https://counter2.stat.ovh/private/freecounterstat.php?c=gjdn96w7y6eccp3gzfc1nfurtd18hrc2" border="0" title="web page counter" alt="web page counter"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">T-PIE &copy; 2020 &nbsp; <br>
		</p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="./assets/js/jquery-3.2.1.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="./assets/js/jquery.superslides.min.js"></script>
    <script src="./assets/js/bootstrap-select.js"></script>
    <script src="./assets/js/inewsticker.js"></script>
    <script src="./assets/js/bootsnav.js."></script>
    <script src="./assets/js/images-loded.min.js"></script>
    <script src="./assets/js/isotope.min.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/baguetteBox.min.js"></script>
    <script src="./assets/js/form-validator.min.js"></script>
    <script src="./assets/js/contact-form-script.js"></script>
    <script src="./assets/js/custom.js"></script>
</body>

</html>
